# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t', header=0)

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo= pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t', header=0)

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [5]:
chipo.order_id.count()

4622

In [6]:
chipo['order_id'].count()

4622

In [7]:
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
print("The number of columns in this dataset is :",len(chipo.columns))

The number of columns in this dataset is : 5

### Step 7. Print the name of all the columns.

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [12]:
chipo.item_name.max()

'Veggie Soft Tacos'

### Step 10. For the most-ordered item, how many items were ordered?

In [13]:
chipo.max()

order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
item_price               $9.39
dtype: object

In [14]:
chipo.sort_values(by='item_name').max()

order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
item_price               $9.39
dtype: object

### Step 11. What was the most ordered item in the choice_description column?

In [15]:
chipo.groupby('choice_description').sum()

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...       279         1
[Adobo-Marinated and Grilled Chicken]                    217         1
[Adobo-Marinated and Grilled Steak, [Sour Cream...       279         1
[Adobo-Marinated and Grilled Steak]                      217         1
...                                                      ...       ...
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      2576         2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1215         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

### Step 12. How many items were orderd in total?

In [16]:
chipo['choice_description'].count()

3376

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [17]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [28]:
chipo["item_price"] = chipo['item_price'].str.replace('$', '').astype(float)

#### Step 13.c. Check the item price type

In [ ]:
chipo.dtypes

### Step 14. How much was the revenue for the period in the dataset?

In [30]:
chipo["item_price"].sum()

34500.16

### Step 15. How many orders were made in the period?

In [31]:
chipo['quantity'].count()

4622

### Step 16. What is the average revenue amount per order?

In [35]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

In [36]:
chipo["revenue"].mean()

8.489186499350943

### Step 17. How many different items are sold?

In [38]:
chipo.groupby(['item_name']).count()

                                       order_id  quantity  ...  item_price  revenue
item_name                                                  ...
6 Pack Soft Drink                            54        54  ...          54       54
Barbacoa Bowl                                66        66  ...          66       66
Barbacoa Burrito                             91        91  ...          91       91
Barbacoa Crispy Tacos                        11        11  ...          11       11
Barbacoa Salad Bowl                          10        10  ...          10       10
Barbacoa Soft Tacos                          25        25  ...          25       25
Bottled Water                               162       162  ...         162      162
Bowl                                          2         2  ...           2        2
Burrito                                       6         6  ...           6        6
Canned Soda                                 104       104  ...         104      104
Canned Soft Drink                           301       301  ...         301      301
Carnitas Bowl                                68        68  ...          68       68
Carnitas Burrito                             59        59  ...          59       59
Carnitas Crispy Tacos                         7         7  ...           7        7
Carnitas Salad                                1         1  ...           1        1
Carnitas Salad Bowl                           6         6  ...           6        6
Carnitas Soft Tacos                          40        40  ...          40       40
Chicken Bowl                                726       726  ...         726      726
Chicken Burrito                             553       553  ...         553      553
Chicken Crispy Tacos                         47        47  ...          47       47
Chicken Salad                                 9         9  ...           9        9
Chicken Salad Bowl                          110       110  ...         110      110
Chicken Soft Tacos                          115       115  ...         115      115
Chips                                       211       211  ...         211      211
Chips and Fresh Tomato Salsa                110       110  ...         110      110
Chips and Guacamole                         479       479  ...         479      479
Chips and Mild Fresh Tomato Salsa             1         1  ...           1        1
Chips and Roasted Chili Corn Salsa           22        22  ...          22       22
Chips and Roasted Chili-Corn Salsa           18        18  ...          18       18
Chips and Tomatillo Green Chili Salsa        43        43  ...          43       43
Chips and Tomatillo Red Chili Salsa          48        48  ...          48       48
Chips and Tomatillo-Green Chili Salsa        31        31  ...          31       31
Chips and Tomatillo-Red Chili Salsa          20        20  ...          20       20
Crispy Tacos                                  2         2  ...           2        2
Izze                                         20        20  ...          20       20
Nantucket Nectar                             27        27  ...          27       27
Salad                                         2         2  ...           2        2
Side of Chips                               101       101  ...         101      101
Steak Bowl                                  211       211  ...         211      211
Steak Burrito                               368       368  ...         368      368
Steak Crispy Tacos                           35        35  ...          35       35
Steak Salad                                   4         4  ...           4        4
Steak Salad Bowl                             29        29  ...          29       29
Steak Soft Tacos                             55        55  ...          55       55
Veggie Bowl                                  85        85  ...          85       85
Veggie Burrito                               95        95  ...          95       95
Veggie Crispy Tacos                           1         1  ...           1        1
Veggie Salad                                  6         6  ...           6        6
Veggie Salad Bowl                            18        18  ...          18       18
Veggie Soft Tacos                             7         7  ...           7        7

[50 rows x 5 columns]