# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [3]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [4]:
chipo.head(5)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

### Step 4. How many products cost more than $10.00?

In [5]:
# convert this feature to float
chipo['item_price'] = chipo['item_price'].str.replace('$', '', regex=False).astype(float)

In [11]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [12]:
chipo['item_price']>100

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_price, Length: 4622, dtype: bool

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [8]:
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

      order_id  ...  item_price
5            3  ...       10.98
13           7  ...       11.25
19          10  ...        8.75
26          13  ...        8.49
42          20  ...       11.25
...        ...  ...         ...
4590      1825  ...       11.25
4591      1825  ...        8.75
4595      1826  ...        8.75
4599      1827  ...        8.75
4604      1828  ...        8.75

[693 rows x 5 columns]

### Step 6. Sort by the name of the item

In [9]:
chipo.sort_values(by=['item_name'])

      order_id  ...  item_price
3389      1360  ...       12.98
341        148  ...        6.49
1849       749  ...        6.49
1860       754  ...        6.49
2713      1076  ...        6.49
...        ...  ...         ...
2384       948  ...        8.75
781        322  ...        8.75
2851      1132  ...        8.49
1699       688  ...       11.25
1395       567  ...        8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [10]:
chipo['item_price'].max()

44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [20]:
veggie_salad=chipo[chipo['item_name']=='Veggie Salad Bowl']
len(veggie_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [21]:
Soda=chipo[chipo['item_name']=='Canned Soda']
len(Soda)

104